/* hero en general */
.title-hero-banner span{
    color: var(--primary-color);
}
.text-hero-banner{
    font-size: 20px;
    padding-top: 20px;
}
@media screen and (max-width: 576px) {
    .text-hero-banner{
        padding-top: 0;
        font-size: 16px;
    }
    
}
@media screen and (max-width: 576px) {
    .hero-section {
        height: 500px;
           
    }
    
}
.hero-banner-content{
    padding: 50px 50px;
}

.btn-hero{
    border: solid 1 px var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

.hero-section {
    position: relative;
    padding-top: 200px; 
    padding-bottom: 200px; 
    background-color: #f3f3f3; 
    
  } 
  
  .hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover; 
  }

/* hero accueil */

.hero-section-accueil{
   
    background-image: url("../../images/hero_accueil.png");
    margin-top: 150px;
    width: 100%;
    height: auto;
    background-position: top right;
    background-size: cover;
    background-repeat: repeat-y;
    
    
}
@media screen and (max-width: 1200px) {
    .hero-section-accueil {
        background-color: var(--secondary-color);
        background-image: none;
      
    }
    
}




/* hero a propos */


@media screen and (max-width: 576px) {
    .text-accueil{
        padding-top: 0;
    }
    
}


  .hero-section-a-propos {
    margin-top: 150px;
    background-image: url("../../images/hero_apropos.png");
    width: 100%;
    height: auto;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;    
}
@media screen and (max-width: 1200px) {
    .hero-section-a-propos {
        background-color: var(--secondary-color);
        background-image: none;
    }
    
}


.statistique-position-adjusted {
    position: absolute;
    bottom: -63%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
  }
