:root {
    --primary-color: #F6BA4D; 
    --secondary-color: #FDFBF5; 
    
    --text-color: #010101; 
   --card-shadow: #fffff;
  }

  /* page ADN */

.card-service{
    height: 150px;
    width: 350px;
}
.card-service-text{
    text-align: center;
    text-justify: center;
    font-size: 18px;
    
    
    
}
.card-service-title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.card-body-service .fa-solid{
    font-size: 2em; 
    color: var(--primary-color);
}
/* page ADN section adoption */
.card-body-adopt i {
    font-size: 2rem;
    padding-left: 5rem;
  
  } 


/* page trouvetoncompagnon */
.vedette-animaux .card {
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}
  
  .vedette-animaux .card:hover {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
  
  .vedette-animaux .card-img-top {
    height: 30rem; 
    object-fit: cover;
    width: max-10px;
  }
  
  .vedette-animaux .card-title {
    margin-bottom: 2rem; 
  }
  
  .vedette-animaux .card-subtitle {
    color:var( #FDFBF5); 
  }
  .card-body-vedette{
 
    color:#000;
    
 }

  .animaux-adoption .card-footer {
    background-color: var(--secondary-color);
      
  }

  /* card actualites */

   .custom-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

   .custom-card img {
    border-radius: 15px 15px 0 0; 
  } 

 .animal-card-img-top {
    border-radius: 1rem;
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
} 

  

  .custom-card .card-text {
    margin-bottom: 0.25rem; 
  }

  .custom-card small {
    margin-bottom: 0.5rem; 
  }

  .custom-card-actualite{
    aspect-ratio: 1 / 1;
    width: 100%;
  }

  /* @media screen and (min-width: 992px) {
    .custom-card-actualite{
        width: 45%;
    }
    
  } */

.card-body-align-left{
    align-items: start;
}
/* card type trouve ton compagnon */

.card-animal-type i {
    font-size: 3rem;
    color: #F6BA4D;
    text-align: center;
  } 
  

.card-animal-type .card-title {
    color: #000;
    font-size: 1rem;
    font-weight: regular;
    margin-bottom: 0.5rem;
    text-align: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}


